body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.field {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    background-color: white;
    font-size: 40px;
}

.new {
    visibility: hidden;
}

.container p {
    margin: 0;
}